# Dirs
build
icons
resources
CMakeFiles
CGAL_Qt5*
.vscode

qrc*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake_install.cmake
CMakeCache.txt
CMakeLists.txt.bak
ui_ImageInterface.h
Makefile
